.topo1{
	padding: 20px;
	background-color: #EEE;
}

.logo{
	position: relative;
	top: 7px;
}

.toogler{
	display: block;
}

.link-topo{
	display: none;
}

.barra-menu{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #353535;
}

.menu-item{
	padding: 10px;
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

.show{
	display: block !important;
}

.hide{
	display: none;
}

.menu{
	display: none;
}

.clearfix{
	width: 100%;
}

@media all and (min-width: 768px){
	.toogler{
		display: none;
	}

	.logo{
		position: static;
	}

	.link-topo{
		display: inline-block;
	}

	.menu, .hide{
		display: block !important;
	}

	.barra-menu{
		width: 100%;
	}

	.barra-menu::after, .barra-menu::before{
		display: block;
		content: "";
		clear: both;
	}

	.menu-item{
		padding: 10px 30px 10px 30px;
		float: left;
		border-bottom: none;
	}
}